body {
   margin: 0;
   padding: 0;
   border: 0;
   width: 90%;
}

ul {
   display: flex;
   list-style: none;
   padding: 0;
   margin: 0;
   align-items: center;
   flex-direction: row;
}

li {
   background-color: lightgrey;
   text-align: center;
   flex-grow: 1;
   transition: transform 0.3s ease;
}

li:nth-of-type(5n+2) {
   background-color: #0A89A6;
}

li:nth-of-type(5n+3) {
   background-color: #C8E6C9;
}

li:nth-of-type(5n+4) {
   background-color: #278C7A;
}

li:nth-of-type(5n) {
   background-color: #212121;
}

li:nth-of-type(5n+1) {
   background-color: #93A603;
}

a {
   color: white;
   font-size: 16px;
   line-height: 100px;
   text-decoration: none;
   display: block;
}

/* Ejercico 2.3 */
li:hover {
   transform: scale(1.1);
}

/* Ejercico 2.2 */
@media (max-width: 600px) {
   ul {
      flex-direction: column;
      align-items: stretch;
   }

   li {
      width: 100%;
   }

   a {
      line-height: normal;
   }
}